PORT=3000
CORS_ORIGIN=https://happycoke.dpdns.org
DB_HOST=mysql-fartmonarch66-guobowen0209-ca97.j.aivencloud.com
MYSQL_HOST=43.163.124.218
MYSQL_PORT=31612
MYSQL_USERNAME=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=tunnelnnel
JWT_SECRET=coke_secret_key
